<nav class="navbar navbar-expand-sm navbar-success bg-success">
    <div class="container-fluid">
      <a class="navbar-brand text-white">Habit Reminder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" style="background-color: white;">
        <span class="navbar-toggler-icon">M</span>
      </button> 
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/signup">Signup</a>
          </li>
        </ul>
        </div>
    </div>
  </nav>
