
<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      
      <a class="navbar-brand" href="https://github.com/Rohitreddz/habit-remainder-client"><i class="devicon-github-original colored" ></i> Github repo link</a>
      <a class="navbar-brand" href="https://github.com/Rohitreddz/proposal-habit-reminder"><i class="devicon-github-original colored" ></i> Github proposal link</a>
      <a class="navbar-brand" href="https://github.com/Rohitreddz/habit-remainder-client/projects/1"><i class="devicon-github-original colored" ></i> Working planing link</a>
      <a class="navbar-brand" href="/home"><i class="devicon" ></i> Group 6A</a>
    </div>
  </nav>


  

