
<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home" style="color: rgb(55, 63, 170);"><i class="devicon"></i> Group 6A</a>
      <a class="navbar-brand" href="https://github.com/Rohitreddz/habit-remainder-client"><i class="devicon-github-original colored" ></i>  FE Repo </a>
      <a class="navbar-brand" href="https://github.com/Rohitreddz/HabitRemainder-6A-Back-end"><i class="devicon-github-original colored" ></i>  BE Repo </a>
      <a class="navbar-brand" href="https://github.com/Rohitreddz/proposal-habit-reminder"><i class="devicon-github-original colored" ></i> proposal</a>
      <a class="navbar-brand" href="https://github.com/Rohitreddz/habit-remainder-client/projects/1"><i class="devicon-github-original colored" ></i> Working planing</a>
    </div>
  </nav>


  

