<div class="container" >
    <h3>Login Here</h3>
    <div class="row">
<div class="col-md-4" >
<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
      
    </div>
    <small>Forgot password? <a href="/reset">Reset your account</a></small>
    <div></div>
    <small>New to website? <a href="/signup">Sign up here</a></small>
    <div>
    <button type="submit" routerLink="/home" class="btn btn-outline-secondary">Login</button>
  </div>
  </form>
</div>
  <div class="col-md-6">
    <h2>Description</h2>
      <p>The objective of our web application is to display a habit of the student on basis of the weekday. Once the user hits on the habit, it shows some images, descriptions in the text, check the inbox to know either the habit is done today or not. If the user completes the habit for the day then we can add some points or credits to the account.</p>
    </div>
</div>
</div>
