<section id="body">
    <div class="container-fluid pt-5">
      <div class="card" style="width: 18rem;margin-left:38%;">
        <img src="/assets/handwash.jpg" alt="Handwashing">
        <div class="card-body">
          <h5 class="card-title">Hand Wash</h5>
          <p class="card-text"> Washing hands often with soap and water for at least 20 seconds is essential, especially after going to the bathroom; before eating; and after coughing, sneezing, or blowing one's nose.
        </div>
      </div>
    </div>
</section>
